<div class="row">
	<div class="col-md-3"><a href="/" class="btn btn-lg <% if(actNav == "24"){%>disable btn-default<%}else{%>active btn-info<%}%>" role="button">Last 24h</a></div>
	<div class="col-md-3"><a href="/7day" class="btn btn-lg <% if(actNav == "7"){%>disable btn-default<%}else{%>active btn-info<%}%>" role="button">Last 7 Day</a></div>
	<div class="col-md-3"><a href="/30day" class="btn btn-lg <% if(actNav == "30"){%>disable btn-default<%}else{%>active btn-info<%}%>" role="button">Last 30 Day</a></div>
	<div class="col-md-3"><a href="/365day" class="btn btn-lg <% if(actNav == "365"){%>disable btn-default<%}else{%>active btn-info<%}%>" role="button">Last year</a></div>
</div>    

