  <div class="container theme-showcase" role="main">
      <div class="jumbotron" style="padding-bottom:5px">
        

		<div class="row">

			<div class="col-md-9"> 
				<!--h1>Meteo Station Farnese A1</h1-->
				<div class="row">
					<div class="col-md-4"> 
			<p style="margin-top:15px;">
				La Crosse WS1640 - Santhi&agrave; (VC)<br/>
				<br>
				Lat 45.368135 <br/>
				Lng 8.176897 <br/>
				Alt 185 m/slm
			</p>
					</div>
					<div class="col-md-8"> 
			<p style="margin-top:15px;text-align:center;">
					<img src="/assets/img/<%= actual.FC %>.jpg"/>
			</p>
					</div>
				</div>
			</div>
			<div class="col-md-2"> 
						<p>
							<img style="margin-top:15px;" src="/assets/img/meteo.jpg"/>
						</p>
					
						
			</div>


		</div>

      </div>
   </div>
