      <hr>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://tecnicume.blogspot.it">&copy; Marco Berri - 2015</a></p>
      </div>
    </footer>
