<!DOCTYPE html>
<html lang="en">
  <head>
<% include includes/head %>


  </head>

  <body role="document">


<% include includes/nav %>

<% include includes/maintitle %>


  <div class="container">

<% var actNav = "30"; %>
<% include includes/buttonnav %>

<div class="container">
	<div class="tab-content">

		      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/t30.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/p30.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/h30.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/rc30.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/wc30.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>


	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/wdws30.jpg" style="margin-top:30px;text-align:center"/>
			</div>
		</div>







<% include includes/footer %>

</div>


  </body>
</html>

