<!DOCTYPE html>
<html lang="en">
  <head>
<% include includes/head %>

  </head>

  <body role="document">


<% include includes/nav %>

<% include includes/maintitle %>


  <div class="container">

<% var actNav = "365"; %>
<% include includes/buttonnav %>
  


<div class="container">
	<div class="tab-content">

		      <div class="row">
			<div class="col-md-12" >
			    <div id="chartPRESS365" style="margin-top:40px;padding:5 5 5 5;height: 450px;"><div class="preloader">&nbsp;</div></div>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <div id="chartT365" style="margin-top:30px;padding:5 5 5 5;height: 500px;"><div class="preloader">&nbsp;</div></div>
			</div>
		</div>

	      <div class="row">

			<div class="col-md-12" >
			    <div id="chartH365" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>
			</div>
		 </div>


	<div class="row">

			<div class="col-md-12" >
			    <div id="chartRC365" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>

			</div>
		 </div>

	<div class="row">

			<div class="col-md-12" >
			    <div id="chartWC365" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>
			</div>
	</div>


<% include includes/footer %>

</div>


<% include includes/js365 %>

  </body>
</html>

