<!DOCTYPE html>
<html lang="en">
  <head>
<% include includes/head %>

  </head>

  <body role="document">


<% include includes/nav %>

<% include includes/maintitle %>


  <div class="container">

<% var actNav = "7"; %>
<% include includes/buttonnav %> 


<div class="container">
	<div class="tab-content">

		      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/t7.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/p7.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/h7.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/rc7.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>

	      <div class="row">
			<div class="col-md-12" >
			    <img src="/charts/wc7.jpg" style="margin-top:30px;padding:5 5 5;"/>
			</div>
		</div>







<% include includes/footer %>

</div>


  </body>
</html>

